<div class="about">
    <a class="bg_links social linkedin" href="https://www.linkedin.com/" target="_blank">
       <span class="icon"></span>
    </a>
    <a class="bg_links logo"></a>
 </div>
 
 <nav class="mainNav">
    <div class="mainNav__logo">Pokemon</div>
    <div class="mainNav__links">
       <a href="" class="mainNav__link">About</a>
       <a href="" class="mainNav__link">Contacts</a>
    </div>
    <div class="mainNav__icon">
       <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <g data-name="Layer 2" fill="#9197AE">
             <g data-name="menu-2">
                <rect
                   width="24"
                   height="24"
                   transform="rotate(180 12 12)"
                   opacity="0"
                />
                <circle cx="4" cy="12" r="1" />
                <rect x="7" y="11" width="14" height="2" rx=".94" ry=".94" />
                <rect x="3" y="16" width="18" height="2" rx=".94" ry=".94" />
                <rect x="3" y="6" width="18" height="2" rx=".94" ry=".94" />
             </g>
          </g>
       </svg>
    </div>
 </nav>
 <header class="mainHeading">
    <div class="mainHeading__content">
       <article class="mainHeading__text">
          <p class="mainHeading__preTitle"></p>
          <h2 class="mainHeading__title">Bem vindos a loja Pokemon</h2>
          <p class="mainHeading__description">
             Far far away, Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias nulla provident modi fuga quis, odio nemo, id est harum itaque amet ipsa eaque ex tempora repellat expedita architecto eveniet deserunt.
          </p>
          <button class="cta">Veja Mais</button>
       </article>
 
       <figure class="mainHeading__image">
          <img
             src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_O77_4JponuwXPk0zbIPjWuw-ygt4n_Ld7bF6idfMJHSstaif62DBfR1Ii9GUDKwGmiA&usqp=CAU"
             alt=""
          />
       </figure>
    </div>
 </header>